*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    background: rgb(1, 43, 53);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-form{
    background: wheat;
    border-radius: 1rem;
    padding: 60px;
}
.login-form form{
    background: wheat;
}
form h1{
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 30px;
    background: wheat;
}
form p{
    font-size: 0.8rem;
    background: wheat;
}
.username p, .userpassword p{
    margin-bottom: 8px;
    background: wheat;
}
.username i, .userpassword i{
    font-size: 20px;
    opacity: 0.7;
    color: rgb(0, 69, 92);
    background: wheat;
}
.username input, .userpassword input{
    font-size: 15px;
    padding: 7px;
    outline: none;
    border: none;
    background: inherit;
    background: wheat;
}
.username, .userpassword{
    border-bottom: 2px solid;
    margin-top: 15px;
    background: wheat;
}
.forget-password{
    text-align: end;
    margin-top: 8px;
    background: wheat;
}
.login-btn{
    font-size: 1rem;
    width: 100%;
    border-radius: 2rem;
    border: none;
    background: linear-gradient(rgb(3, 68, 82), rgb(7, 109, 72));
    color: white;
    padding: 6px;
    cursor: pointer;
    margin-top: 8px;
}
.signup-form{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: wheat;
}
.signup-form p{
    text-align: center;
    background: wheat;
    margin-top: 8px;
}
.signup-form i{
    cursor: pointer;
    margin: 5px 10px 10px 10px;
    background: wheat;
}
.signup-btn{
    font-size: 1rem;
    width: 50%;
    border-radius: 2rem;
    border: none;
    background: linear-gradient(rgb(7, 109, 72), rgb(3, 68, 82));
    color: white;
    padding: 2px;
    cursor: pointer;
    margin-top: 8px;
}
.signup-btn a{
    text-decoration: none;
    color: white;
    background: inherit;
}
